<p>
  Blogs are great for posting regular updates about a variety of topics.
  Great examples of blog use are:
</p>

<ul>
  <li>News</li>
  <li>A journal</li>
  <li>Company updates</li>
</ul>

<p>
  You can have as many different blogs as you like, each which contains it's own posts.
</p>