<p>
  Welcome to <strong><%= CMS_NAME %></strong>, an easy to way to manage your site.
</p>

<p>
  If you're new, make sure to check out our <%= link_to 'Quick Start', 'http://docs.pagesprout.com' %> guide.
<p>