body {
  color: #111;
  padding: auto;
  margin: 0;
  text-align: center;
  background: #222;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size:13px;
  line-height:18px;
}

a {
  color: #333;
}

  .flash_error, .flash_notice {
    padding: 5px ;
    color: #FFFFFF;
    margin: 0 30px;
  }

  .flash_error {
    background-color: #CC0000;
  }

  .flash_notice {
    background-color: #009900;
  }

#header, #nav, #subnav, .article, #footer {
  text-align: left;
  background-color: #FFFFFF;
}
  
#header {
  height: 150px;
  background-color: #000000;
  background-image: url("../images/header.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  font-family: arial,helvetica,sans-serif;
  border-bottom: 1px solid #111;
}
  #header h1, #header h2 {
    color: #FFFFFF;
    padding: 5px 0 10px 10px;
    margin: 10px 0 5px 200px;
    float: left;
    overflow: hidden;
    display: none;
  }
  
  #header h1 {
    font-size: 2.5em;
  }
  
  #header h2 {
    font-size: 1.1em;
    clear: both;
  }

#nav, #subnav {
  margin: 0;
  margin-top: 10px;
  padding: 5px;
  float: left;
  width: 170px;
  border: 4px solid #666;
  z-index: 2;
  left: 50px;
}

#nav {
  margin-top: 30px;
    display: block;
    position: relative;
}

  #nav li {
    list-style-type: none;
    padding: 2px 5px;
  }
  
    #nav li.first {
    }
    
    #nav li.search {
      padding-left: 10px;
      padding-top: 10px
    }
          
      #nav li.search form {
      }
    
      #nav li.search input[type=text] {
        width: 110px;
        border: 1px solid #cccccc;
      }
    
      #nav li.search input[type=text]:hover {
        background-color: #cce;
      }
    
      #nav li.search input[type=submit] {
        width: 30px;
        border: 1px solid #cccccc;
      }
    
    #nav li a {
      color: #000000;
      text-decoration: none;
      padding: 2px 5px;
    }
    
    #nav li a:hover {
      color: #333333;
      text-decoration: none;
      background: #cce;
    }

#subnav {
    clear: left;
    display: block;
    position: relative;
}

  #subnav li {
    list-style-type: none;
    padding: 2px 5px;
  }
    #subnav li.first {
    }
    
    #subnav li a {
      color: #000000;
      text-decoration: none;
      padding: 2px 5px;
    }
    
    #subnav li a:hover {
      background: #cce;
    }
    
#footer {
  text-align: center;
  font-size: 0.8em;
  border: 4px solid #666;
  border-top: none;
  margin-left: 200px;
  margin-right: 200px;
  clear: both;
}

h3.disabled_post {
  font-style: italic;
}

h3 {
  font-weight: normal;
}

li {
  list-style-type: disc;
}
