# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
log/*.log
*~
config/database.yml
config/initializers/mail.rb
config/ferret_server.yml
ferret_server.yml.sample
tmp/**/*
db/*.sqlite3
db/schema.rb
config/config.yml
secret
vendor/plugins/database_migrate
.DS_Store
index
