<%= page_heading 'New Blog' %>

<div class="section">
  <% form_for(@blog) do |f| %>
    <%= render :partial => 'fields', :locals => { :f => f } %>
    
    <div class="element">
      <%= f.submit "Create" %>
    </div>
  <% end %>
  <div class="element">
    <%= link_to 'Back', blogs_path %>
  </div>
</div>
