<%= page_heading 'Administration' -%>

<div class="content">
  
  <div>
    Pages
  </div>
  
  <div>
    Blogs
  </div>
  
  <div>
    Design
  </div>
  
  <div>
    People
  </div>
  
</div>

<%= aside_help_for :managing %>

