<%= page_heading 'Designs' %>

<div class="content">
  
  <div id="themes">
    <%= render :partial => 'theme', :collection => @themes %>
    <div class="clearfix"></div>
  </div>
  
</div>

<%= aside_help_for :themes %>