<%= page_heading 'Select Theme' %>

<div id="themes">
  <% for theme in @themes %>
    <div class="theme">
      <%= image_tag theme.screenshot_path, :alt => theme.name.humanize %>
      <%= theme.name.humanize %>
    </div>
  <% end %>
<div>