<%= page_heading 'Edit Page' -%>

<div class="section">
  <% form_for(@page) do |f| %>
    <%= render :partial => 'fields', :locals => { :f => f } %>
    
    <div class="element">
      <%= submit_tag 'Save' %>
    </div>
  <% end %>
</div>
