<%= page_heading 'Administer Pages' %>

<ul>
  <% for page in @all_top_level_pages %>
    <%= render :partial => 'page_list_item', :locals => { :page => page } %>
  <% end %>
</ul>

<p>
  <%= link_to 'Create Page', new_page_path -%>
</p>