<%= page_heading 'New Page' %>

<div class="section">
  <% form_for(@page) do |f| %>
    <%= render :partial => 'fields', :locals => { :f => f } %>
    
    <div class="element">
      <%= f.hidden_field('parent_id', {:value => @parent_id}) %>
      <%= submit_tag 'Create' %>
    </div>
  <% end %>
</div>
