# configuration goes in here
# this file is read as: 
#
# any new settings added can be accessed with AppConfig.setting_name

common:
  theme: new
  date_string: "%d %h %Y - %H:%M %p"
  mail_domain: yourapplication.com
  admin_email: admin@example.com
  another: test
  site_name: Example Site
  page_not_found: It seems that the page you were looking for does not exist, so you have been redirected here.
  root_url: www.example.com

production:

development:
  root_url: localhost:3000

test:
  root_url: localhost:3000
