body {
  background-color: #333;
  color: #666;
  margin: 1em auto;
  width: 980px;
}

#header {
  color: #fff;
  font-size: 1.4em;
  padding-bottom: 20px;
}

#article {
  background-color: #f4f4f4;
  padding: 20px;
}

#footer {
  font-size: 0.9em;
  padding-top: 20px;
  text-align: center;
}