/* General */

body, input, textarea, select {
  color: #222;
  font: 10pt "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

/* Text */

body {
  line-height: 1.6em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin: 0.5em 0 1em;
}


/* Headings */

h1 {
  font-size: 1.8em;
}

/* Links */

a {
  text-decoration:none;
}

  a:link, a:visited {
    color: #0086ff;
  }
  
  a:hover {
    color: #ff5c07;
  }
  
  a:active {
    color: #910;
  }
  
  a img {
    border-style: none;
  }