.section {
  padding-left: 25px;
  float: left;
  padding-bottom: 20px
}

  .section .element {
    padding-top: 5px;
  }
  
    .section .element .element_content {
      padding-top: 2px;
    }
  
      .section .element .element_content input {
        width: 300px;
      }

  .section tr td {
    padding: 1em 2em 1em 1em;
    border-top: 1px solid #cccccc;
    text-align: left;
  }

  .section tr th {
    text-align: left;
    padding-left: 1em;
  }
