body {
  color: #333;
}

.flash_error, .flash_notice {
  padding: 10px;
  color: #FFFFFF;
}

.flash_error {
  background-color: #CC0000;
}

.flash_notice {
  background-color: #009900;
}

#nav {
  list-style-type: none;
  line-height: 35px;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 0;
  background: #AAFFAA;
}

  #nav li {
    display: inline;
    padding: 0.5em;
  }
  
  #nav .selected {
    padding: 5px 5px 5px 0;
  }
  
    #nav .selected span {
      padding: 5px 5px 5px 10px;
    }


#subnav {
  list-style-type: none;
  line-height: 35px;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 0;
  background: #AAAAFF;
}

  #subnav li {
    display: inline;
    padding: 0.5em;
  }
  
  #subnav .selected {
    padding: 5px 5px 5px 0;
  }
  
    #subnav .selected span {
      padding: 5px 5px 5px 10px;
    }
    
h3.disabled_post {
  font-style: italic;
}

li {
  list-style-type: disc;
}
