<%= page_heading 'New Post' %>

<div class="section">
  <% form_for([@blog,@post]) do |f| %>
    <%= render :partial => 'fields', :locals => { :f => f } %>

    <div class="element">
      <%= f.submit "Create" %>
    </div>
  <% end %>

  <div class="element">
    <%= link_to 'Back', blog_path(@blog) %>
  </div>
</div>
