<%= page_heading @post.title %>

<div class="section">
  <div class="element">
    <%= @post.body %>
  </div>
  <div class="element">
    <small><%= @post_time %> by <%= @post_author %></small>
  </div>
</div>
