<%= page_heading "Welcome to #{CMS_NAME}" %>

<p>
  Welcome to your new site!
</p>

<p>
  To get started:
</p>

<ol>
  <li><%= link_to 'Create an account', signup_path %></li>
  <li>Change this page</li>
</ol>