<%- @page_title = "Search Results" -%>

<div class="section">
  <div class="element">
    Search: <%= @query %><br />
    Total number of results: <%= @result.total_hits %>
  </div>
  <%- for item in @result -%>
    <div class="element">
      <%= search_result(item, @query) %>
    </div>
  <%- end -%>
</div>
