/* Layout */

body {
  margin: 1em auto;
  width: 980px;
}

#header, #nav, #article, #footer {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

#header {
  text-align: right;
}

  #header .site_name {
    float: left;
  }

#nav {
  border: 1px solid #ccc;
}

#footer {
  font-size: 0.9em;
  text-align: right;
}

  #footer .site_footer { float: left; }