.article {
  padding-top: 10px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  width: 848px;
  min-height: 300px;
}
    
.heading {
  font-size: 1.5em;
  padding: 5px 5px 5px 10px;
}

.section {
  padding: 0 25px 20px 25px;
  float: left;
}

  .section .element {
    padding-top: 5px;
    clear: both;
  }
    .element label {
    	display: block;
	    width: 300px;
      vertical-align: top;
    }
    .element textarea {
      width: 350px;
      height: 10em;
      border: 2px solid #cccccc;
    }
    .element input[type=text], .element input[type=password] {
      width: 350px;
      border: 2px solid #cccccc;
    }
  
    .section .element .column {
      float: left;
      padding-left: 10px;
      width: 9em;
      border: 1px solid #cccccc;
    }

  .disabled_item {
    color: #FF0000;
  }

  .enabled_item {
    color: #00CC00;
  }
  
  td {
    width: 150px;
    border: 1px dotted #cccccc;
    padding: 2px 5px;
  }
  
  tr.element_odd {
    background: #EEEEEE;
  }
  
  tr.element_even {
    background: #FFFFFF;
  }

  .section#themes tr td {
    padding: 1em 2em 1em 1em;
    border-top: 1px solid #cccccc;
    text-align: left;
  }

  .section#themes tr th {
    text-align: left;
    padding-left: 1em;
  }
