/* Layout */

body {
  margin: 2em auto;
  width: 980px;
}

#header, #nav, #article, #footer { margin-bottom: 1em; }

#header { text-align: right; }

  #header .site_name {
    font-weight: bold;
    font-size: 1.4em;
    float: left;
  }
  
  #header .site_slogan { font-style: italic; }

#nav { text-align: center; }

  #nav ul {
    list-style-type: none;
    margin: 0;
  }
  
  #nav li { display: inline; }
  
  #nav a { padding: 0.5em 1em; }
  
    #nav a:hover { background-color: #f2fafe; }

#article {
  border: 1px dotted #ccc;
  padding: 1em;
}
  
#footer {
  color: #a4a4a4;
  font-size: 0.9em;
  text-align: right;
}

  #footer .site_footer { float: left; }
  
  #footer a:link, #footer a:visited { color: #7a7a7a; }
  
  #footer a:hover {
    color: #4a4a4a;
    text-decoration: underline;
  }
  
  #footer a:active { color: #000; }