/* Layout */

body {
  margin: 1em auto;
  width: 980px;
}

#header, #nav, #article, #footer {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

#header {
  text-align: right;
}

  #header .site_name {
    float: left;
  }

#nav {}

  #nav ul {
    list-style-type: none;
    margin: 0;
  }
  
  #nav li {
    display: inline;
    margin-right: 1em;
  }
  
  #nav a {
    padding: 0.5em 1em;
  }
  
#footer {
  font-size: 0.9em;
  text-align: right;
}

  #footer .site_footer { float: left; }