/* Layout */

body {
  margin: 1em auto;
  width: 980px;
}

#header, #nav, #article, #footer {
  border: 1px dotted #ccc;
  padding: 1em;
  margin-bottom: 0.5em;
}

#header {
  text-align: right;
}

  #header .site_name {
    font-weight: bold;
    font-size: 1.4em;
    float: left;
  }
  
  #header .site_slogan { font-style: italic; }

#nav {}

  #nav ul {
    list-style-type: none;
    margin: 0;
  }
  
  #nav li {
    display: inline;
  }
  
  #nav a { padding: 0.5em 1em; }
  
    #nav a:hover { background-color: #f2fafe; }
  
#footer {
  font-size: 0.9em;
  text-align: right;
}

  #footer .site_footer { float: left; }