/* General */

body, input, select, textarea { font: 9pt "Lucida Grande", Verdana, Arial, sans-serif; }

body {
  line-height: 1.6em;
  margin: 1em;
}

/* Formatting */

em { font-style: italic; }

strong { font-weight: bold; }

p { margin: 0.5em 0 1em; }

/* Headings */

h1, h2, h3 {
  font-weight: bold;
  margin: 0.2em 0 0.5em;
}

h1 { font-size: 1.6em; }

h2 { font-size: 1.4em; }

h3 { font-size: 1.2em; }

/* Lists */

ul, ol { margin: 1em 0 1em 3em; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }